body{
    background-color: #E6DDC4;
    text-align: center;
    list-style-position: inside;
    font-family: sans-serif;
}

h1 {
    color: #181D31;
}

h2{
    color: #678983;
}

h4{
    color: #FD8A8A;
}